/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

[data-sub-layout="44172840-2e4e-4cb2-8922-92b3a82ebf3e"] {
padding: 0 !important;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
}

.custom-accordion {
  background: -o-linear-gradient(23.34deg, #0E66A0 0%, #2495B3 100%);
  background: linear-gradient(66.66deg, #0E66A0 0%, #2495B3 100%);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.custom-active, .custom-accordion:hover {
  background-color: #b5d1e6;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
          box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.custom-accordion:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.custom-active:after {
  content: "\f106";
}

.custom-panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

a.product-link {
  color: #494f54 !important;
  font-family: "Roboto Condensed";
}

.product-link-container {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.product-link-container-active, .product-link-container:hover {
    background-color: #dfdfdf;
}

.v-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.card .card-body {
	height: auto !important;
}

.card .card-figure {
	height: 208px !important;
}

.card .card-image {
    max-height: calc(208px - 2px);
}

.bd-top-radius {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04) !important;
	    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04) !important;
}

.bd-top-img-radius {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.bd-bottom-radius {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.bd-top-img-radius:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

.text__dark {
  color: #323232 !important;
}

.shop-down:after {
 font-family: "Font Awesome 5 Free";
 content: "\f0dd";
}

footer .socialLinks-item {
 width: 32px !important;
 height: 32px !important;
 line-height: unset !important;
}

.footer-info-phone > i.icon > svg {
    fill: #323232 !important;
}

input#search_query:hover, input#search_query:focus {
  background: #f3f3f3 !important;
}

.btn-custom-outline-primary { 
	color: #0E66A0 !important;
    	border: 1px solid #0E66A0 !important;
	text-transform: uppercase;
	font-family: "Roboto";
	border-radius: 5px !important;
}

.btn-custom-primary {
	color: #fff;
	background: -o-linear-gradient(23.34deg, #0E66A0 0%, #2495B3 100%);
	background: linear-gradient(66.66deg, #0E66A0 0%, #2495B3 100%);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(14, 102, 160, 0.12), 0px 10px 20px rgba(14, 102, 160, 0.18);
	        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(14, 102, 160, 0.12), 0px 10px 20px rgba(14, 102, 160, 0.18);
	font-family: "Roboto";
	text-transform: uppercase;
	border-radius: 5px !important;
}

.custom-border-radius {
	border-radius: 5px !important;	
)
